.main{
    margin: 10px 20px;
}

.icon{
    width: 15px;
}

.singleValueIcon{
    padding: 0 10px 0 4px;
}

.optionIcon{
    padding-right: 10px;
}

.indicator{
    background: purple;
    border-radius: 0 3px 3px 0;
}
